* {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: antiquewhite;
}

h1 {
  background-color: #081b31;
  color: white;
  height: 5rem;
  line-height: 5rem;
}

.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 5rem;
}

.choice {
  height: 165px;
  width: 165px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}

.choice:hover {
  cursor: pointer;
  background-color: #081b31;
  transform: scale(1.1);
}

img {
  height: 155px;
  width: 155px;
  object-fit: cover;
  border-radius: 50%;
}

.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 2rem;
  gap: 5rem;
}

#user-score,
#computer-score {
  font-size: 5rem;
}
.msg-container {
  margin-top: 4rem;
}
#msg {
  background-color: #081b31;
  color: #ffffff;
  font-size: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  display: inline;
}

@media (max-width: 600px) {
  .choices {
    flex-direction: column; /* Stack choices vertically */
    margin-top: 2rem;
  }

  .choice {
    height: 120px;
    width: 120px;
  }

  img {
    height: 110px;
    width: 110px;
  }

  .score-board {
    font-size: 1.5rem;
    gap: 2rem;
    margin-top: 1rem;
  }

  #user-score,
  #computer-score {
    font-size: 3rem;
  }

  #msg {
    font-size: 1.5rem;
    padding: 0.5rem;
  }
}
